@charset "utf-8";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@font-face {
    font-family: "Open Sans Regular";
    src: url("/assets/fonts/OpenSans-Regular.woff2") format("woff2"),
         url("/assets/fonts/OpenSans-Regular.ttf") format("truetype");
    font-display: swap; 
}

 @font-face {
    font-family: "Open Sans Bold";
    src: url("/assets/fonts/OpenSans-Bold.woff2") format("woff2"),
         url("/assets/fonts/OpenSans-Bold.ttf") format("truetype");
    font-display: swap;
 }

:root {
    --color-light: #ffffff;
    --color-dark: #5b5b5d;
    --color-blue: #0775c2;
    --color-dark-blue: #055c9b;
    --color-focus: #B6CEF5;
    --color-focus-border: #0d6efd;
    --color-pink: #e1275f;
    --color-dark-pink: #b4214d ;
    --color-light-gray-1: #EFEFF1;
    --color-light-gray-2: #D9D9D9;
    --color-light-gray-3: #C9C9CA;
    --font-regular: 'Open Sans Regular', Arial, sans-serif;
    --font-bold: 'Open Sans Bold', Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--color-light);
    color: var(--color-dark);
    font-family: var(--font-regular);
}

/* Atalho acessibilidade */
.header__skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: var(--color-light);
    background-color: var(--color-pink);
    padding: 0.2em;
  }

/* Atalho acessibilidade */
.header__skip:focus {
    position: static;
    width: auto;
    height: auto;
}
 
.header__div-logo {
    margin: 1em 0;
}

.header__img-pit {
    margin-right: 0.5em;
}

.header__nome-logo {
    margin: 0.2em;
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 1.2rem;
}

.header__titulo {
    padding: 0.2em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--font-bold);
    font-weight: 700;
    color: var(--color-light);
    background-color: var(--color-blue);
    border-radius: 0.3em 0.3em 0 0;
}

.main {
    padding: 2.2em;
    background-color: var(--color-light-gray-1);
}

.section-busca__titulo {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--font-bold);
    font-weight: 700;
    background-color: var(--color-light-gray-2);
    border-radius: 0.3em 0.3em 0 0;
    border: 2px solid var(--color-light-gray-3);
    border-bottom: 0;
}

.section-busca__corpo {
    padding: 1.6em;
    border: 2px solid var(--color-light-gray-3);
    border-radius: 0 0 0.3em 0.3em;
}

.section-busca__input-select {
    margin: 0.8em 0;
}

.section-busca__label-select {
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 1.2rem;
}

.section-busca__btn-buscar {
    display: block;
    margin: auto auto;
    padding: 0.6em;
    border: none;
    border-radius: 0.4em;
    font-size: 1.1rem;
    background-color: var(--color-pink);
    color: var(--color-light);
    font-family: var(--font-bold);
    font-weight: 700;
}

.section-busca__btn-buscar:hover {
    background-color: var(--color-dark-pink);
    color: var(--color-light);
}

.section-busca__btn-buscar:focus {
    outline-color: var(--color-focus);
    outline-style: solid;
    outline-width: 0.3em;
    border: 0.1em solid var(--color-focus-border);
}

.section-busca__btn-conheca {
    display: block;
    padding: 0.4em;
    margin-top: 0.8em;
    border: none;
    border-radius: 0.4em;
    font-size: 1rem;
    font-family: var(--font-bold);
    font-weight: 700;
    outline: 3px solid var(--color-dark-blue);
    color: var(--color-dark-blue);
}

.section-busca__btn-conheca:hover {
    background-color: var(--color-dark-blue);
    color: var(--color-light);
}

.section-busca__btn-conheca:focus {
    outline-color: var(--color-focus);
    outline-style: solid;
    outline-width: 0.3em;
    border: 0.1em solid var(--color-focus-border);
}

.section-busca__modal-subtitulo {
    font-size: 1.2rem;
    font-family: var(--font-bold);
    font-weight: 700;
}

.section-busca__modal-paragrafo {
    font-size: 1rem;
    text-align: justify;
}

.section-busca__modal-img {
    display: block;
    margin: 0.8em auto;
}

.section-busca__btn-fechar {
    padding: 0.4em;
    border: none;
    border-radius: 0.4em;
    font-size: 1rem;
    background-color: var(--color-dark-blue);
    color: var(--color-light);
}

.section-busca__btn-fechar:focus {
    outline-color: var(--color-focus);
    outline-style: solid;
    outline-width: 0.3em;
    border: 0.1em solid var(--color-focus-border);
}

.section-resultado {
    display: none;
}

.section-resultado--nohidden {
    display: block;
}

/* Acessibilidade */
.section-resultado__sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.section_resultado__corpo {
    margin-top: 2.2em;
    background-color: var(--color-light-gray-2);
    border: 2px solid var(--color-light-gray-3);
    border-radius: 0.3em 0.3em;
}

.section-resultado__div-linha {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-resultado__label {
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
}

.section-resultado__div-linhas {
    background-image: linear-gradient(360deg, var(--color-light-gray-3), var(--color-light-gray-2));
    margin: 0 0;
}

.section-resultado__cod-linha {
    padding: 0.3em 0.8em;
    margin: 0.5em;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 0.4em;
}

.section-resultado__cod-linha:focus {
    outline-color: var(--color-focus);
    outline-style: solid;
    outline-width: 0.3em;
    border: 0.1em solid var(--color-focus-border);
}

.custom-tooltip {
    --bs-tooltip-bg: var(--color-blue);
}

.section-resultado__icon-arrow {
    font-size: 5rem;
    color: var(--color-pink);
    rotate: 0deg;
}

@media only screen and (max-width: 767px) {    
    .section-resultado__icon-arrow {
        rotate: 90deg;
    }
}

.section-resultado__div-integracao {
    border: 0.2em solid var(--color-light-gray-3);
    border-left: 0;
    border-right: 0;
    margin: 0 0;
}

.section-resultado__div-tempo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section-resultado__icon-clock {
    font-size: 2.8rem;
    color: var(--color-pink);
}

.section-resultado__definicao {
    margin: 0.3em;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--font-bold);
    font-weight: 700;
}

.section-resultado__duracao {
    margin: 0.3em;
    text-align: center;
    font-family: var(--font-bold);
    font-weight: 700;
    font-size: 1.5rem;
}

.section-resultado__corpo-locais {
    background-image: linear-gradient(180deg, var(--color-light-gray-3), var(--color-light-gray-2));
    margin: 0 0px ;
}

.section-resultado__titulo-locais {
    margin: 0.8em 0;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--font-bold);
    font-weight: 700;
}

.section-resultado__segmento {
    margin-top: 0.2em;
    height: calc(100% - 37px);
    width: 21px;
    background-color: var(--color-pink);
    left: 45px;  
    top: 10px;
    position: relative;
    float: left;
    border-radius: 0.6em;
} 

.section-resultado__marcador {
    padding: 0.8em 0.8em;
    position: relative;
}

.section-resultado__lista {
    list-style-type: none;
    font-size: 1.2rem;
}

.section-resultado__lista-item--top {
    display: flex;
    align-items: baseline;
}

.section-resultado__lista-item--center {
    display: flex;
    align-items: center;
}

.section-resultado__lista-item--end {
    display: flex;
    align-items: end;
}

@media only screen and (max-width: 319px) {    

    .section-resultado__segmento {
      display: none;
    } 

    .section-resultado__marcador {
        display: none;
    }

    .section-resultado__lista {
        padding-left: 0;
        font-size: 1.0rem;
    }

}

.footer {
    margin-bottom: 1.5em;
    padding: 0.8em 2.2em;
    background-color: var(--color-blue);
    border-radius: 0 0 0.8em 0.8em;
}

.footer__img-pit {
    margin: 0 0.8em;
    float: left;
}

.footer_paragrafo {
    margin: 0.5em 0;
    text-align: justify;
    font-size: 0.8rem;
    color: var(--color-light);
}

.footer__link-ceturb:focus {
    outline-color: var(--color-focus);
    outline-style: solid;
    outline-width: 0.3em;
    border: 0.1em solid var(--color-focus-border);
}

.footer__link-goves:focus {
    outline-color: var(--color-focus);
    outline-style: solid;
    outline-width: 0.3em;
    border: 0.1em solid var(--color-focus-border);
}
